<div class="title control-group">
	<h3>条形码核查</h3>
</div>
<message></message>
<ul class="list-inline">
	<li class="col-md-2">
		<div class="input-group">
			<input type="text"
				   class="form-control"
				   ng-model="SEARCH.queryParam.qstart"
				   datetime-picker="yyyy-MM-dd HH:mm"
				   is-open="SEARCH.dateBeginPickerOpen">
			<div class="input-group-addon" ng-click="SEARCH.toggleDateBeginPicker($event)">
				<i class="glyphicon glyphicon-calendar"></i>
			</div>
		</div>
	</li>
	<li class="col-md-2">
		<div class="input-group">
			<input type="text"
				   class="form-control"
				   ng-model="SEARCH.queryParam.qend"
				   datetime-picker="yyyy-MM-dd HH:mm"
				   is-open="SEARCH.dateEndPickerOpen">
			<div class="input-group-addon" ng-click="SEARCH.toggleDateEndPicker($event)">
				<i class="glyphicon glyphicon-calendar"></i>
			</div>
		</div>
	</li>
	<li class="col-md-2">
		<input type="text" class="form-control" id="qbarcode"  name="qbarcode" ng-model="SEARCH.queryParam.barCode" placeholder="条形码"/>
	</li>
	<li class="col-md-1">
		<input type="text" class="form-control" id="inpatientno"  name="inpatientno" ng-model="SEARCH.queryParam.inpatientNo" placeholder="住院号"/>
	</li>
	<li class="col-md-1">
		<input type="text" class="form-control" id="times"  name="times" ng-model="SEARCH.queryParam.times" placeholder="住院次"/>
	</li>
	<li class="col-md-3">
		<button type="button" class="btn btn-primary" ng-click="SEARCH.query()">查询</button>
		<exportbtn data-target="#tblbox"></exportbtn>
		<label for="showProblem">	<input id="showProblem" type="checkbox" ng-model="SEARCH.showProblemBarCode" />只显示问题</label>
	</li>
</ul>
<div id="tblbox">
<table  class="table table-hover">
	<tr>
		<th>条形码</th>
		<th>名称</th>
		<th>住院号</th>
		<th>住院次</th>
        <th>姓名</th>
        <th>项目</th>
        <th>收费</th>
        <th>数量</th>
        <th>录入日期</th>
        <th>录入人</th>
		<th>状态</th>
    </tr>
    <tr ng-repeat="chargeInfo in SEARCH.chargeInfos track by $index" ng-hide="SEARCH.showProblemBarCode && chargeInfo.status === 3">
        <td>
    		{{chargeInfo.barCode}}
        </td>
		<td>
			{{chargeInfo.materialName}}
		</td>
        <td>
            {{chargeInfo.inpatientNo}}
        </td>
        <td>
            {{chargeInfo.times}}
        </td>
        <td>
            {{chargeInfo.name}}
        </td>
        <td>
            {{chargeInfo.chargeName}}
        </td>
        <td>
            {{chargeInfo.chargePrice}}
        </td>
        <td>
            {{chargeInfo.chargeAmount}}
        </td>
        <td>
            {{chargeInfo.inputDate | formatDateFilter}}
        </td>
        <td>
            {{chargeInfo.inputOpera}}
        </td>
		<td>
			{{chargeInfo.statusText}}
		</td>
	</tr>
</table>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="pull-left">
			<pagination
					total-items="SEARCH.queryParam.totalItems"
					items-per-page="SEARCH.queryParam.pageSize"
					ng-model="SEARCH.queryParam.pageNo"
					class="pagination"
					boundary-links="true"
					max-size ="4"
					first-text="首页"
					previous-text="前页"
					next-text="后页"
					last-text="最后"
					ng-change="SEARCH.query()">
			</pagination>
		</div>
		<pagesetup class="pagination" style="float:left" page-size="SEARCH.queryParam.pageSize" page-size-store-name="barCodeAuditPageSize"></pagesetup>
	</div>
</div>
