<div class="title control-group">
	
	<h3>回收记录</h3>
</div>
<message></message>
<ul class="list-inline">
	<li class="col-md-2">
		<div class="input-group">
			<input type="text"
				   class="form-control"
				   ng-model="RECYCLE.queryParam.dateBegin"
				   datetime-picker="yyyy-MM-dd HH:mm"
				   is-open="RECYCLE.dateBeginPickerOpen">
			<div class="input-group-addon" ng-click="RECYCLE.toggleDateBeginPicker($event)">
				<i class="glyphicon glyphicon-calendar"></i>
			</div>
		</div>
	</li>
	<li class="col-md-2">
		<div class="input-group">
			<input type="text"
				   class="form-control"
				   ng-model="RECYCLE.queryParam.dateEnd"
				   datetime-picker="yyyy-MM-dd HH:mm"
				   is-open="RECYCLE.dateEndPickerOpen">
			<div class="input-group-addon" ng-click="RECYCLE.toggleDateEndPicker($event)">
				<i class="glyphicon glyphicon-calendar"></i>
			</div>
		</div>

	</li>
	<li class="col-md-2">
		<input type="text" class="form-control" id="qbarcode"  name="qbarcode" ng-model="RECYCLE.queryParam.barcode" placeholder="条形码"/>
	</li>
	<li class="col-md-1">
		<ui-select ng-model="RECYCLE.returner.selected"
				   theme="bootstrap"
				   ng-disabled="disabled"
				   reset-search-input="true"
				   title="送还人">
			<ui-select-match placeholder="送还人">{{$select.selected.legalName}}</ui-select-match>
			<ui-select-choices repeat="user in allUsers|userPinyinFilter:$select.search track by $index"
							   refresh-delay="0">
				<div ng-bind="user.legalName"></div>
			</ui-select-choices>
		</ui-select>
	</li>
	<li class="col-md-1">
		<ui-select ng-model="RECYCLE.recycler.selected"
				   theme="bootstrap"
				   ng-disabled="disabled"
				   reset-search-input="true"
				   title="回收人">
			<ui-select-match placeholder="回收人">{{$select.selected.legalName}}</ui-select-match>
			<ui-select-choices repeat="user in allUsers|userPinyinFilter:$select.search track by $index"
							   refresh-delay="0">
				<div ng-bind="user.legalName"></div>
			</ui-select-choices>
		</ui-select>
	</li>
	<li class="col-md-3">
		<button type="button" class="btn btn-primary" ng-click="RECYCLE.query()">查询</button>
		<button type="button" class="btn btn-primary" recycle after-success="updateMessage()">回收</button>
		<exportbtn data-target="#recyclebox"></exportbtn>
	</li>
</ul>

<div  id="recyclebox">
<table class="table table-bordered table-hover">
	<tr>
		<th>ID</th>
		<th>归还人</th>
		<th>记录人</th>
    	<th>记录时间</th>
		<th>条形码</th>
		<th>使用</th>
		<th>收费</th>
		<th>手术间</th>
		<th>领用人</th>
		<th>记录人</th>
		<th>发放时间</th>
		<th>备注</th>
    	<th></th>
    </tr>
    <tbody  ng-repeat="recycle in RECYCLE.recycles">
    <tr>
        <td>
    		{{recycle.id}}
        </td>
    	<td>
    		{{recycle.returner | userFilter}}
        </td>
        <td>
    		{{recycle.recycler | userFilter}}
        </td>
        <td>
			{{recycle.recycleTime | formatDateFilter}}
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
		<td>
		</td>
		<td>
		</td>
        <td>
            <delrecycle delete-data="recycle"><a href="javascript:void(0);">删除</a ></delrecycle>
		</td>
	</tr>
	<tr ng-repeat="recycleDetail in recycle.recycleDetails">
	        <td></td> <td></td> <td></td> <td></td>
	        <td>
				{{recycleDetail.barcode}}
	        </td>
	        <td>
				{{recycleDetail.useFlag | useTranFilter}}
	        </td>
	        <td>
				<span tooltip-html-unsafe="{{recycleDetail.chargeHtml}}">{{recycleDetail.chargeInfo.inpatientNo}}</span>
			</td>
			<td>
				{{recycleDetail.draw.consumer}}
			</td>
			<td>
				{{recycleDetail.draw.receiver | userFilter}}
			</td>
			<td>
				{{recycleDetail.draw.drawer | userFilter}}
			</td>
            <td>
				{{recycleDetail.draw.drawTime | formatDateFilter}}
            </td>
			<td>
			    {{recycleDetail.draw.remark}}
			</td>
			<td>
				<delrecycledetail delete-data="recycleDetail"><a href="javascript:void(0);">删除</a ></delrecycledetail>
			</td>
	</tr>
	</tbody>
</table>
</div>
  <div class="container-fluid">
 <div class="row">
 		<div class="pull-left">
			<pagination 
				total-items="queryParam.totalItems"
				items-per-page="queryParam.pageSize"
				ng-model="queryParam.pageNo"
				class="pagination"
				boundary-links="true"
				max-size ="4"
				first-text="首页"
				previous-text="前页"
				next-text="后页"
				last-text="最后"
				ng-change="query()">
			</pagination>
		</div>
	 	<pagesetup class="pagination" style="float:left" page-size="RECYCLE.queryParam.pageSize" page-size-store-name="recyclePageSize"></pagesetup>
 </div>
 </div>