
<div class="title control-group">
	<h3>回收记录</h3>
</div>
<message></message>
<ul class="list-inline">
	<li class="col-md-2">
		<div class="input-group">
			<input type="text"
				   class="form-control"
				   ng-model="RECYCLE.queryParam.dateBegin"
				   datetime-picker="yyyy-MM-dd HH:mm"
				   is-open="RECYCLE.dateBeginPickerOpen">
			<div class="input-group-addon" ng-click="RECYCLE.toggleDateBeginPicker($event)">
				<i class="glyphicon glyphicon-calendar"></i>
			</div>
		</div>
	</li>
	<li class="col-md-2">
		<div class="input-group">
			<input type="text"
				   class="form-control"
				   ng-model="RECYCLE.queryParam.dateEnd"
				   datetime-picker="yyyy-MM-dd HH:mm"
				   is-open="RECYCLE.dateEndPickerOpen">
			<div class="input-group-addon" ng-click="RECYCLE.toggleDateEndPicker($event)">
				<i class="glyphicon glyphicon-calendar"></i>
			</div>
		</div>

	</li>
	<li class="col-md-2">
		<input type="text" class="form-control" id="qbarcode"  name="qbarcode" ng-model="RECYCLE.queryParam.barcode" placeholder="条形码"/>
	</li>
	<li class="col-md-1">
		<ui-select ng-model="RECYCLE.returner.selected"
				   theme="bootstrap"
				   ng-disabled="disabled"
				   reset-search-input="true"
				   title="送还人">
			<ui-select-match placeholder="送还人">{{$select.selected.legalName}}</ui-select-match>
			<ui-select-choices repeat="user in allUsers|userPinyinFilter:$select.search track by $index"
							   refresh-delay="0">
				<div ng-bind="user.legalName"></div>
			</ui-select-choices>
		</ui-select>
	</li>
	<li class="col-md-1">
		<ui-select ng-model="RECYCLE.recycler.selected"
				   theme="bootstrap"
				   ng-disabled="disabled"
				   reset-search-input="true"
				   title="回收人">
			<ui-select-match placeholder="回收人">{{$select.selected.legalName}}</ui-select-match>
			<ui-select-choices repeat="user in allUsers|userPinyinFilter:$select.search track by $index"
							   refresh-delay="0">
				<div ng-bind="user.legalName"></div>
			</ui-select-choices>
		</ui-select>
	</li>
	<li class="col-md-3">
		<button type="button" class="btn btn-primary" ng-click="RECYCLE.query()">查询</button>
		<button type="button" class="btn btn-primary" recycle after-success="updateMessage()">回收</button>
		<exportbtn data-target="#recyclebox"></exportbtn>
	</li>
</ul>

<div  id="recyclebox" class="container">
		<div  class="row">
			<ul class="col-md-4 list-inline">
				<li class="col-md-1">ID</li>
				<li class="col-md-2">归还人</li>
				<li class="col-md-2">记录人</li>
				<li class="col-md-5">记录时间</li>
				<li class="col-md-2">操作</li>
			</ul>
			<ul class="list-inline col-md-8">
				<li class="col-md-2">条形码</li>
				<!--<li class="col-md-1">使用</li>-->
				<li class="col-md-1">收费</li>
				<li class="col-md-1">手术</li>
				<li class="col-md-1">领用</li>
				<li class="col-md-1">记录</li>
				<li class="col-md-2">发放时间</li>
				<li class="col-md-2">预计时间</li>
				<li class="col-md-1">备注</li>
				<li class="col-md-1">操作</li>
			</ul>
		</div>
		<div  class="row"  ng-repeat="recycle in RECYCLE.recycles">
			<ul class="col-md-4 list-inline">

				<li class="col-md-1">
					{{recycle.id}}
				</li>
				<li class="col-md-2">
					{{recycle.returner | userFilter}}
				</li>
				<li class="col-md-2">
					{{recycle.recycler | userFilter}}
				</li>
				<li class="col-md-5">
					{{recycle.recycleTime | formatDateFilter}}
				</li>
				<li class="col-md-2">
					<delrecycle delete-data="recycle"><a href="javascript:void(0);">删除</a ></delrecycle>
				</li>
			</ul>
			<ul class="list-unstyled col-md-8">
				<li class="col-md-12" ng-repeat="recycleDetail in recycle.recycleDetails">
					<ul class="list-inline">
						<li class="col-md-2"  ng-class="{0:'unused', 1: 'used'}[recycleDetail.useFlag]" title="{{recycleDetail.useFlag | useTranFilter}}">
							{{recycleDetail.barcode}}
						</li>
						<!--<li class="col-md-1">-->
							<!--{{recycleDetail.useFlag | useTranFilter}}-->
						<!--</li>-->
						<li class="col-md-1">
							<span tooltip-html-unsafe="{{recycleDetail.chargeHtml}}">{{recycleDetail.chargeInfo.inpatientNo}}</span>
						</li>
						<li class="col-md-1">
							{{recycleDetail.draw.consumer}}
						</li>
						<li  class="col-md-1">
							{{recycleDetail.draw.receiver | userFilter}}
						</li>
						<li class="col-md-1">
							{{recycleDetail.draw.drawer | userFilter}}
						</li>
						<li class="col-md-2" style="overflow:hidden">
							{{recycleDetail.draw.drawTime | formatDateFilter}}
						</li>
						<li class="col-md-2">
							{{recycleDetail.draw.expectedReceiveTime | formatDateFilter}}
						</li>
						<li class="col-md-1">
							{{recycleDetail.draw.remark}}
						</li>
						<li class="col-md-1">
							<delrecycledetail delete-data="recycleDetail"><a href="javascript:void(0);">删除</a ></delrecycledetail>
						</li>
					</ul>
				</li>
			</ul>
		</div>
</div>
  <div class="container-fluid">
 <div class="row">
 		<div class="pull-left">
			<pagination 
				total-items="queryParam.totalItems"
				items-per-page="queryParam.pageSize"
				ng-model="queryParam.pageNo"
				class="pagination"
				boundary-links="true"
				max-size ="4"
				first-text="首页"
				previous-text="前页"
				next-text="后页"
				last-text="最后"
				ng-change="query()">
			</pagination>
		</div>
	 	<pagesetup class="pagination" style="float:left" page-size="RECYCLE.queryParam.pageSize" page-size-store-name="recyclePageSize"></pagesetup>
 </div>
 </div>