<div class="title control-group">
	<h3>与HIS同步用户</h3>
</div>
<message></message>
<ul class="list-inline">
	<li>
		<button type="button" class="btn btn-primary" ng-click="refresh()">从HIS读取用户</button>
	</li>
	<li>
		<button type="button" class="btn btn-primary" ng-click="sync()">导入系统</button>
	</li>
</ul>
<table class="table table-hover">
	<tr>
		<th><input type="checkbox"  ng-click="selectAllUser()"/>选择</th>
		<th>工号</th>
		<th>姓名</th>
		<th>√(已导入)</th>
    </tr>
    <tr ng-repeat="user in users track by $index">
		<td>
			<input type="checkbox" ng-checked="user.selected" ng-model="user.selected"/>
		</td>
        <td>
    		{{user.code}}
        </td>
    	<td>
    		{{user.name}}
        </td>
        <td>
            <span  ng-class="{true:'glyphicon glyphicon-ok', false:''}[user.syncStatus]"></span>
        </td>
	</tr>
</table>
