<form  name="formRecycle" class="form-horizontal" ng-submit="recycle.saveRecycle(formRecycle.$valid)" role="form" novalidate>
    <div class="modal fade" role="dialog" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close" aria-hidden="true">X</button>
                    <h3 class="modal-title" id="editModalLabel">回收条形码</h3>
                </div>
                <div class="modal-body" >
                    <div class="row">
                        <div class="col-md-12"> messages</div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">送还人</label>
                                <div class="col-md-8 controls">
                                    <ui-select ng-model="returner.selected"
                                               theme="bootstrap"
                                               ng-disabled="disabled"
                                               reset-search-input="false"
                                               title="选择送还人">
                                        <ui-select-match placeholder="选择送还人">{{$select.selected.legalName}}</ui-select-match>
                                        <ui-select-choices repeat="user in allUsers|userPinyinFilter:$select.search track by $index"
                                                           refresh-delay="0">
                                            <div ng-bind="user.legalName"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">记录人</label>
                                <div class="col-md-8 controls">
                                    <ui-select ng-model="recycler.selected"
                                               theme="bootstrap"
                                               ng-disabled="disabled"
                                               reset-search-input="false"
                                               title="请录入记录人">
                                        <ui-select-match placeholder="请录入记录人">{{$select.selected.legalName}}</ui-select-match>
                                        <ui-select-choices repeat="user in allUsers|userPinyinFilter:$select.search track by $index"
                                                           refresh-delay="0">
                                            <div ng-bind="user.legalName"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="barcodeCollecter"
                                   ng-keypress="collectBarcode($event, barcodeCollecter)" placeholder="请扫描条码"/>
                            <table class="table table-bordered table-hover">
                                <tr>
                                    <th>条形码</th>
                                    <th>使用情况(使用√)</th>
                                    <th>收费</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="detail in recycleDetails track by $index">
                                    <td>
                                        {{detail.barcode}}
                                    </td>
                                    <td>
                                        <input type="checkbox"  ng-model="detail.useFlag" ng-true-value="1" ng-false-value="0"/>
                                    </td>
                                    <td>
                                        <span tooltip-html-unsafe="{{detail.chargeHtml}}">{{detail.chargeInfo.inpatientNo}}</span>
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);" ng-click="deleteBarcode(recycleDetails, detail)">删除</a >
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">保存</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary">关闭</button>
                </div>
            </div>
        </div>
    </div>
</form>